<div class="container"  style="background-image: url('assets/HotelBG.jpg');"  >
<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

  <mat-card class="box" style="background-color:#fafbfc">

    <form  [formGroup]="form">
      <mat-card-content>
        <mat-card-header>
          <mat-card-title>Log in</mat-card-title>
          <hr>
        </mat-card-header>
        <mat-form-field appearance="outline" class="example-full-width">
          <input matInput #textbox placeholder="email" formControlName="email">
          <mat-error *ngIf="form.invalid">{{getErrorName()}}</mat-error>
        </mat-form-field>
        </mat-card-content>
        <mat-card-content >
          <mat-form-field appearance="outline" class="example-full-width">

          <input matInput #textbox2 placeholder="Password" [type]="hide ? 'password' : 'text'"  formControlName="Password" >
          <mat-error *ngIf="form.invalid">{{getErrorName()}}</mat-error>


          <!-- <label>View Password</label> -->
          <br>
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </mat-form-field>
        </mat-card-content>
      <button mat-stroked-button color="accent" class="btn-block"  [disabled]="form.invalid" (click)="onLogin(textbox.value, textbox2.value)">Log in</button>
    </form>
  </mat-card>
</div>
</div>

